mixin header-default
    header
        .header-top
            .header-top-container
                ul.header-top-left
                    li: a(href="#") Home
                    li: a(href="#") About
                    li: a(href="#") Home
                    li: a(href="#") FAQ
                ul.header-top-right
                    li: a(href="#") Cart
                    li: a(href="#") My Account
                    li: a(href="#") Sign in
        .header-middle
            .header-middle-container
                .header-middle-logo
                    a(href="/")
                        img.logo(src="images/ibuycaribbeanv2_nobg.png" alt="Logo")
                .header-middle-search
                .header-middle-cart
        .header-bottom
