header {

    .header-top {
        padding: 5px 10px;
        background-color: $light-gray;
        display: none;

        .header-top-container {
            display: flex;
            flex-direction: row;
            width: 800px;
            max-width: 100%;
            margin: 0 auto;

            ul {
                font-size:  0.9em;

                li {
                    display: inline-block;
                    padding: 10px;

                    a {
                        color: darken($light-gray, 30%);
                        text-decoration: none;
                    }
                }

                &.header-top-right {
                    margin-left: auto;
                }
            }
        }

        @media screen and (min-width: 768px) {
            display: block;
        }
    }

    .header-middle {
        display: none;

        .header-middle-container {
            display: flex;
            flex-wrap: wrap;
            padding: 10px 10px 0;
            width: 750px;
            max-width: 100%;
            margin: 0 auto;

            .header-middle-logo {
                order: 1;
                margin: 0 auto;
                width: 50%;
                .logo {
                    width: 120px;
                    max-width: 100%;
                }
            }

            .header-middle-search {
                order: 3;
                width: 100%;
                border-top: 1px solid $light-gray;
                padding: 10px 5px;
            }

            .header-middle-cart {
                order: 2;
                width: 50%;
                text-align: right;
            }
        }

        @media screen and (min-width: 768px) {
            display: block;
        }
    }

    .header-bottom {
        background-color: $very-dark-blue;
        color: white;

        .header-bottom-list {
            width: 800px;
            margin: 0 auto;

            li {
                display: inline-block;
                font: {
                    size: 1.1em;
                    weight: bolder;
                }
                text-transform: uppercase;
                padding: 20px 15px;
            }
        }
    }
}
