// Colors
$light-gray: #edecea;
$very-dark-blue: #06303a;
$greeny-green: #60c222;

// Fonts
$font-size-base: 14px;
$font-family-main: 'Open Sans', sans-serif;
$font-family-secondary: 'PT Serif', serif;
