// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

// Google Fonts
// ============

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800|PT+Serif:400,400i,700,700i');

// Variables
// =========

@import "site/variables";


// Site Styles
// ===========

// Add your own site style includes here
body {
    font: {
        family: $font-family-main;
        size: $font-size-base;
    }

    // Misc
    @import "site/misc/product-search";
    @import "site/misc/cart";
    
    @import "site/layout";
}
